@use "../abstracts/variables" as v;

#root {
    height: 100%;
}
.wrapper {
    height: 100%;
    margin-top: 100px;
}

/* --------------------------------------------------------------------------------------------------------------
    Components
----------------------------------------------------------------------------------------------------------------*/
.btn-toggle {
    input[type="checkbox"] {
        width: 100px;
        height: 45px;
        border-radius: 45px;
        background: #eee;
    }
    .rounded {
        width: 45px;
        height: 45px;
        background: v.$color-orange;
    }
}

.arrow {
    display: inline-block;
    padding: 18px;
    border: solid v.$color-spanishbistre;
    border-width: 0 3px 3px 0;
    font-size: 0;
    cursor: pointer;
    &:hover {
        box-shadow: 5px 4px 5px -4px rgba($color: #000, $alpha: 0.6);
    }
    &.right {
        transform: rotate(-45deg);
    }
    &.left {
        transform: rotate(135deg);
    }
}

.btn-recommend {
    width: 150px;
    font-weight: normal !important;
}

/* --------------------------------------------------------------------------------------------------------------
    Layout
----------------------------------------------------------------------------------------------------------------*/

// header, footer, visual을 제외한 콘텐츠의 레이아웃
.recipes-wrap {
    max-width: 1280px;
    padding: 0 50px;
    margin: 0 auto;
}

.recipe-card {
    max-width: 380px;
    img {
        max-width: 100%;
    }
}

.btn-wrap {
    text-align: center;
}

/* --------------------------------------------------------------------------------------------------------------
    Header
----------------------------------------------------------------------------------------------------------------*/
#header {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 0 100px;
    background: #fff;
    .inner-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1280px;
        height: 100%;
        margin: 0 auto;
        .logo {
            svg {
                max-width: 45px;
            }
        }
        nav {
            ul {
                font-size: 0.875rem;
                li {
                    float: left;
                    &:not(:last-child) {
                        padding-right: 70px;
                    }
                    a {
                        position: relative;
                        color: #222;
                        transition: 0.3s;
                        &::after {
                            content: "";
                            position: absolute;
                        }
                        &:hover,
                        &:focus {
                            &::after {
                                bottom: -8px;
                                left: 0;
                                width: 100%;
                                height: 2px;
                                background: v.$color-orange;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* --------------------------------------------------------------------------------------------------------------
    Footer
----------------------------------------------------------------------------------------------------------------*/
#footer {
    // position: absolute;
    // left: 0;
    // bottom: 0;
    width: 100%;
    height: 300px;
    margin-top: 100px;
    padding: 50px;
    background: v.$color-sage;
    ul {
        li {
            position: relative;
            float: left;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background: #fff;
            cursor: pointer;
            a {
                color: transparent;
            }
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                transform: translate(-50%, -50%);
            }
            &:first-child {
                margin-right: 10px;
                &::after {
                    background: url(v.$img-icon + "ico-instagram.png") center no-repeat;
                }
            }
            &:last-child {
                &::after {
                    background: url(v.$img-icon + "ico-facebook.png") center no-repeat;
                }
            }
        }
    }
    h4 {
        padding: 25px 0 20px;
        color: #222;
    }
    address {
        padding-bottom: 20px;
        font-size: 0.875rem;
        color: #474747;
        p {
            span {
                &:not(:last-child) {
                    position: relative;
                    padding-right: 20px;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        width: 1px;
                        height: 8px;
                        background: #eee;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
    p {
        font-size: 0.875rem;
        color: #474747;
        text-transform: uppercase;
    }
}
