#main {
    .banners {
        height: 450px;
        img {
            max-width: 100%;
        }
    }
    .recipes-wrap {
        section {
            margin-top: 100px;
            h3 {
                display: flex;
                justify-content: space-between;
                margin-bottom: 40px;
                font-family: "Roboto";
                font-weight: 600;
                font-size: 1.25rem;
                a {
                    font-weight: normal;
                    font-size: 0.75rem;
                }
            }
            div {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-row-gap: 20px;
                grid-column-gap: 20px;
            }
        }
    }
}
